/* Nécessaire au fonctionnement */
.scrollable {
	overflow: hidden;
}
.scrollbar {
	float:left;

/* Doit être sépcifié */
	width:5px;

/* Design de la scrollbar */

	-webkit-border-radius: 20px;
    border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;

}